apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-api-proxy
  namespace: {{ .Values.global.namespace }}
spec:
  podSelector:
    matchLabels:
      app: proxy-client
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: api-gateway
  ports:
  - protocol: TCP
    port: {{ index .Values "proxy-client" "service" "port" }}