apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-zipkin
  namespace: {{ .Values.global.namespace }}
spec:
  podSelector:
    matchLabels:
      app: zipkin
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: service-discovery
    - podSelector:
        matchLabels:
          app: cloud-config
    - podSelector:
        matchLabels:
          app: api-gateway
    - podSelector:
        matchLabels:
          app: proxy-client
    - podSelector:
        matchLabels:
          app: favourite-service
    - podSelector:
        matchLabels:
          app: product-service
    - podSelector:
        matchLabels:
          app: shipping-service
    - podSelector:
        matchLabels:
          app: order-service
    - podSelector:
        matchLabels:
          app: user-service
    - podSelector:
        matchLabels:
          app: payment-service
    ports:
    - protocol: TCP
      port: {{ .Values.zipkin.service.port }}