apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-order-service
  namespace: {{ .Values.global.namespace }}
spec:
  podSelector:
    matchLabels:
      app: order-service
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: payment-service
    - podSelector:
        matchLabels:
          app: proxy-client
    - podSelector:
        matchLabels:
          app: shipping-service
    - podSelector:
        matchLabels:
          app: product-service
  ports:
  - protocol: TCP
    port: {{ index .Values "order-service" "service" "port" }}