apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-api
  namespace: {{ .Values.global.namespace }}
spec:
  podSelector:
    matchLabels:
      app: api-gateway
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: api-gateway
    ports:
  - protocol: TCP
    port: {{ index .Values "api-gateway" "service" "port" }}