apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-favourite-service
  namespace: {{ .Values.global.namespace }}
spec:
  podSelector:
    matchLabels:
      app: favourite-service
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: product-service
    - podSelector:
        matchLabels:
          app: proxy-client
    - podSelector:
        matchLabels:
          app: user-service
  ports:
  - protocol: TCP
    port: {{ index .Values "favourite-service" "service" "port" }}