apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-service-discovery
  namespace: {{ .Values.global.namespace }}
spec:
  podSelector:
    matchLabels:
      app: service-discovery
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: cloud-config
    - podSelector:
        matchLabels:
          app: zipkin
    - podSelector:
        matchLabels:
          app: shipping-service
    - podSelector:
        matchLabels:
          app: order-service
    - podSelector:
        matchLabels:
          app: payment-service
    - podSelector:
        matchLabels:
          app: product-service
    - podSelector:
        matchLabels:
          app: user-service
    - podSelector:  
        matchLabels:
          app: favourite-service
    - podSelector:
        matchLabels: proxy-client 
    - podSelector:
        matchLabels:
          app: api-gateway
    ports:
    - protocol: TCP
      port: {{ index .Values "cloud-config" "service" "port" }}