{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-gateway-ingress
  namespace: {{ .Values.global.namespace }}
  annotations:
    # 1. CLAVE: Cambiar de "gce-internal" a "gce" para usar el Balanceador de Carga Público.
    kubernetes.io/ingress.class: "gce" 
    
    # 2. IMPORTANTE: Eliminar o comentar la referencia a la IP estática interna.
    #    (La eliminamos para que GKE asigne una IP pública automáticamente).
    # kubernetes.io/ingress.regional-static-ip-name: "gke-internal-ingress-ip" 
    
    # 3. Necesario para que GCLB provisione correctamente
    kubernetes.io/ingress.allow-http: "true"
spec:
  rules:
    - http: 
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: api-gateway
              port:
                number: 8080
{{- end }}