{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-gateway-ingress
  namespace: {{ .Values.global.namespace }}
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.allow-http: "{{ .Values.ingress.allowHttp }}"
    kubernetes.io/ingress.global-static-ip-name: "ecommerce-ingress-ip-225"
    kubernetes.io/ingress.health-check-path: "app/actuator/health"

spec:
  {{- if .Values.ingress.enabledTls }}
  tls:
    - secretName: api-gateway-tls
  {{- end }}
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: api-gateway
                port:
                  number: 8080
{{- end }}
