{{- if (index .Values "payment-service" "enabled") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: payment-service
spec:
  replicas: {{ index .Values "payment-service" "replicaCount" }}
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      {{- with index .Values "payment-service" "podSecurityContext" }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      initContainers:
        - name: wait-for-dependencies
          image: busybox
          command:
            - sh
            - -c
            - |
              until nc -z cloud-config 9296 && nc -z service-discovery 8761; do
                echo waiting for dependencies
                sleep 5
              done
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000

      containers:
        - name: payment-service
          image: {{ index .Values "payment-service" "image" "repository" }}:{{ index .Values "payment-service" "image" "tag" }}
          ports:
            - containerPort: {{ index .Values "payment-service" "service" "port" }}

          {{- with index .Values "payment-service" "securityContext" }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          env:
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: SPRING_PROFILES_ACTIVE
            - name: SPRING_ZIPKIN_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: SPRING_ZIPKIN_BASE_URL
            - name: SPRING_CONFIG_IMPORT
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: SPRING_CONFIG_IMPORT
            - name: EUREKA_CLIENT_REGION
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: EUREKA_CLIENT_REGION
            - name: EUREKA_CLIENT_AVAILABILITYZONES_DEFAULT
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: EUREKA_CLIENT_AVAILABILITYZONES_DEFAULT
            - name: EUREKA_CLIENT_SERVICEURL_MYZONE
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: EUREKA_CLIENT_SERVICEURL_MYZONE
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
            - name: EUREKA_INSTANCE_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: payment-service.EUREKA_INSTANCE_HOSTNAME
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: EUREKA_INSTANCE_PREFER_IP_ADDRESS
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:MaxRAMPercentage=70.0"

            {{- if or (eq .Values.global.namespace "stage") (eq .Values.global.namespace "prod") }}
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_PASSWORD
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://payment-db:3306/payment_db"
            - name: FLYWAY_MIGRATION_ENABLED
              value: "true"
            {{- end }}

          resources:
            requests:
              memory: {{ index .Values "payment-service" "resources" "requests" "memory" }}
              cpu: {{ index .Values "payment-service" "resources" "requests" "cpu" }}
            limits:
              memory: {{ index .Values "payment-service" "resources" "limits" "memory" }}
              cpu: {{ index .Values "payment-service" "resources" "limits" "cpu" }}
{{- end }}
