{{- if (index .Values "user-service" "enabled") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: user-service
spec:
  replicas: {{ index .Values "user-service" "replicaCount" }}
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: {{ index .Values "user-service" "image" "repository" }}:{{ index .Values "user-service" "image" "tag" }}
        ports:
          - containerPort: {{ index .Values "user-service" "service" "port" }}
        env:
          - name: SPRING_PROFILES_ACTIVE
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: SPRING_PROFILES_ACTIVE
          - name: SPRING_ZIPKIN_BASE_URL
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: SPRING_ZIPKIN_BASE_URL
          - name: SPRING_CONFIG_IMPORT
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: SPRING_CONFIG_IMPORT
          - name: EUREKA_CLIENT_REGION
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_REGION
          - name: EUREKA_CLIENT_AVAILABILITYZONES_DEFAULT
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_AVAILABILITYZONES_DEFAULT
          - name: EUREKA_CLIENT_SERVICEURL_MYZONE
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_SERVICEURL_MYZONE
          - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        resources:
          requests:
            memory: {{ index .Values "user-service" "resources" "requests" "memory" }}
            cpu: {{ index .Values "user-service" "resources" "requests" "cpu" }}
          limits:
            memory: {{ index .Values "user-service" "resources" "limits" "memory" }}
            cpu: {{ index .Values "user-service" "resources" "limits" "cpu" }}
{{- end }}
