{{- if index .Values "service-discovery" "enabled" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-discovery-blue
  namespace: {{ .Values.global.namespace }}
  labels:
    app: service-discovery
spec:
  replicas: {{ index .Values "service-discovery" "blue" "replicaCount" }}
  selector:
    matchLabels:
      app: service-discovery
      color: blue
  template:
    metadata:
      labels:
        app: service-discovery 
        color: blue
    spec: # spec del Pod
      serviceAccountName: {{ include "ecommerce-app.fullname" . }}-service-discovery-sa
      containers: # anidado dentro de spec
      - name: service-discovery
        image: {{ index .Values "service-discovery" "blue" "repository" }}:{{ index  .Values "service-discovery" "blue" "tag" }}
        ports:
          - containerPort: {{ index .Values "service-discovery" "service" "port" }}
        env:
          - name: SPRING_PROFILES_ACTIVE
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: SPRING_PROFILES_ACTIVE
          - name: SPRING_ZIPKIN_BASE_URL
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: SPRING_ZIPKIN_BASE_URL
          - name: SPRING_CONFIG_IMPORT
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: SPRING_CONFIG_IMPORT
          - name: EUREKA_CLIENT_REGION
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_REGION
          - name: EUREKA_CLIENT_AVAILABILITYZONES_DEFAULT
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_AVAILABILITYZONES_DEFAULT
          - name: EUREKA_CLIENT_SERVICEURL_MYZONE
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_SERVICEURL_MYZONE
          - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
            valueFrom:
              configMapKeyRef:
                name: ecommerce-config
                key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        resources:
          requests:
            memory: {{index .Values "service-discovery" "resources" "requests" "memory"}}
            cpu: {{index .Values "service-discovery" "resources" "requests" "cpu"}}
          limits:
            memory: {{index .Values "service-discovery" "resources" "limits" "memory"}}
            cpu: {{index .Values "service-discovery" "resources" "limits" "cpu"}}
{{- end }}
